{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "max-len": 0,
    "semi": [2, "never"],
    "object-curly-spacing": ["error", "never"],
    "space-in-parens": ["error", "never"],
    "keyword-spacing": ["error", {"after": true, "before": true}],
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
    "prefer-arrow-callback": 0,
    "arrow-body-style": ["error", "as-needed"],
    "func-names": 0,
    "comma-dangle": ["error", "only-multiline"]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./internals/webpack/webpack.test.babel.js"
      }
    }
  }
}