
input[type="file"].input {
  display: none;
}

.label {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 12px 22px;
  cursor: pointer;
}

.emptyPlaceholder {
  display: inline-block;
  padding: 12px 120px;
}